body{
    background:black;
}
table{
    width:99vw;
    height:42vw;
    border-collapse: collapse; /* Collapse table borders */
    border-radius: 200px;
    padding : 20px;
    background:linear-gradient(to bottom,rgb(43, 42, 42),rgb(95, 94, 94),rgb(82, 79, 79),rgb(37, 36, 36),rgb(14, 13, 13),rgb(5, 5, 5));   
    
}
th, td {
        width: 50%; 
        padding:50px;
         }
input[type="text"] {
    width: 300px;   
    height: 30px; 
    font-size: 16px; 
    border-radius: 20px;
    border:none;
    }
input[type="password"] {
        width: 300px; /* Set the width of the text box */
        height: 30px; /* Set the height of the text box */
        font-size: 16px; /* Optional: Set the font size */
        border-radius: 20px;
        border:none;
    }
input[type="email"] {
    width: 300px; /* Set the width of the text box */
    height: 30px; /* Set the height of the text box */
    font-size: 16px; /* Optional: Set the font size */
    border-radius: 20px;
    border:none;
    }
input[type="tel"] {
    width: 300px; /* Set the width of the text box */
    height: 30px; /* Set the height of the text box */
    font-size: 16px; /* Optional: Set the font size */
    border-radius: 20px;
    border:none;
    }
input[type="date"] {
    width: 250px; /* Set the width of the text box */
    height: 30px; /* Set the height of the text box */
    font-size: 16px; /* Optional: Set the font size */
    border-radius: 20px;
    border:none;
    }
input[type="submit"] {
    width: 80px; /* Set the width of the text box */
    height: 30px; /* Set the height of the text box */
    font-size: 16px; /* Optional: Set the font size */
    border-radius: 20px;
    border:none;
    color:black;
    background-color: white;
    font-weight: bold;
    }
input[type="reset"] {
    width: 80px; /* Set the width of the text box */
    height: 30px; /* Set the height of the text box */
    font-size: 16px; /* Optional: Set the font size */
    border-radius: 20px;
    border:none;
    color:black;
    background-color: white;
    font-weight: bold;
    }
.rounded-rectangle {
        width: auto; /* Set the width of the rectangle */
        height: 25vw; /* Set the height of the rectangle */
        border-radius: 200px; /* Set the border radius for rounded corners */
        padding: 20px; /* Add padding inside the rectangle */
        background-image: url("https://img.freepik.com/premium-photo/grilled-kebabs-with-smoky-bbq-background-created-with-generative-ai_419341-50278.jpg");
        
    }
label{
    color: white;
}
button{
    font-size:larger;
    color: black;
    background-color: white ;
    border-radius:25px;
    border: none;
    font-weight: bold;
    align-content: center;
}
h1{
    color:white;
    text-shadow: 1px 1px 0 #000, 
                 -1px 1px 0 #000, 
                 1px -1px 0 #000, 
                 -1px -1px 0 #000;
    text-align: center;
}
h3{
    color:white;
    text-shadow: 1px 1px 0 #000, 
                 -1px 1px 0 #000, 
                 1px -1px 0 #000, 
                 -1px -1px 0 #000;
    text-align: center;
    justify-content: center;
}
img{
    width:100% ;
    height:auto;
    border-radius: 40px;
}
select{
    width: 200px; /* Set the width of the text box */
    height: 30px; /* Set the height of the text box */
    font-size: 16px; /* Optional: Set the font size */
    border-radius: 20px;
    border:none;
    color:black;
    background-color: white;
    font-weight: bold;
}
div{
    color:rgb(5, 0, 0);
    text-shadow: 1px 1px 0 #000, 
                 -1px 1px 0 #000, 
                 1px -1px 0 #000, 
                 -1px -1px 0 #000;
    text-align: center;
    justify-content: center;
}
.wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#FFF;
    border-radius:5px;
}
.wrapper span{
    text-align:center;
    justify-content: center;
    font-size:25px;
    font-weight:60;
    cursor:pointer;
    margin: 0 20px; 
    
}
.wrapper span.num{
    pointer-events:none;
}